<h1>Acp Caltulator</h1>
<form action="/new" method="POST">
  <p>Distance:</p>
  <input type="text" name="distance"></input>
  <p>Brevet Distance:</p>
  <input type="text" name="brevet"></input>
  <p>Start time:</p>
  <input type="time" name="time" value="00:00"></input>
  <p>Start date:</p>
  <input type="date" name="date"></input>
  <input type="submit"></input></form>
<form action="/display">
<button formaction="/display">Display All</button>
</form>